{% extends 'RemiBundle::base.html.twig' %}
{% block title %}Liste des disciplines{% endblock %}
{% block body %}    
    <h1>{{ 'disciplines.list'|trans }}</h1>
    <table border=1>
        <thead>
            <tr>
                <th>{{ 'tab.header.name'|trans }}</th>
                <th>{{ 'tab.header.candidates'|trans }}</th>
                <th>{{ 'tab.header.action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for discipline in disciplines %}
            <tr>
                <td>{{ discipline.nom }}</td>
                <td>{{ discipline.athletes|length }}</td>
                <td>
                    <a href="{{ path('remi_discipline_delete', { 'id' : discipline.id } )}}">
                        <button>{{ 'form.button.delete'|trans }}</button>
                    </a>
                    <a href="{{ path('remi_discipline_show', { 'id' : discipline.id } )}}">
                        <button>{{ 'form.button.update'|trans }}</button>
                    </a>
                </td>
            </tr>
        {% endfor %}    		
        </tbody>
    </table><br>
    <div>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}