{% extends 'RemiBundle::base.html.twig' %}
{% block title %}Liste des athletes{% endblock %}

{% block body %}
    <h1>{{ 'athletes.list'|trans }}</h1>
    <table border=1>
    	<thead>
    		<tr>
    			<th>{{ 'tab.header.lastname'|trans }}</th>
    			<th>{{ 'tab.header.firstname'|trans }}</th>
    			<th>{{ 'tab.header.birthdate'|trans }}</th>
    			<th>{{ 'tab.header.discipline'|trans }}</th>
    			<th>{{ 'tab.header.country'|trans }}</th>
    			<th>{{ 'tab.header.action'|trans }}</th>
    		</tr>
    	</thead>
    	<tbody>
		{% for athlete in athletes %}
			<tr>
				<td>{{ athlete.nom }}</td>
				<td>{{ athlete.prenom }}</td>
				<th>{{ athlete.dateNaissance|date("d/m/Y") }}</th>
				<td>{{ athlete.discipline.nom|default("Aucune discipline") }}</td>
				<td>{{ athlete.pays.nom|default("Aucun pays") }} <img src="{{ asset('uploads/drapeaux/'~athlete.pays.drapeau|default("")) }}" alt="drapeau" /> </td>
				<td>
					<a href="{{ path('remi_athlete_delete', { 'id' : athlete.id } )}}">
						<button>{{ 'form.button.delete'|trans }}</button>
					</a>
					<a href="{{ path('remi_athlete_show', { 'id' : athlete.id } )}}">
						<button>{{ 'form.button.update'|trans }}</button>
					</a>
				</td>
			</tr>
		{% endfor %}    		
    	</tbody>
    </table><br>
	{{ form_start(form) }}
	{{ form_end(form) }}

{% endblock %}