{% extends 'base.html.twig' %}
{% block title %}Liste des athletes{% endblock %}

{% block body %}
	<h1>Liste des athlètes</h1>
	{% for athlete in athletes %}
		<div>
			<a href="{{ path('remi_athlete_delete', { 'id' : athlete.id } )}}"><button>Supprimer</button></a>
			{{ athlete.nom }} 
			{{ athlete.prenom }} 
			{{ athlete.dateNaissance|date("d/m/Y") }}
			<a href="{{ path('remi_athlete_show', { 'id' : athlete.id } )}}">
				<button>Modifier</button>
			</a>
		</div>
	{% endfor %}

	{{ form_start(form) }}
	{{ form_end(form) }}

{% endblock %}