{% extends 'RemiBundle::base.html.twig' %}
{% block title %}Liste des villes{% endblock %}

{% block body %}
    <h1>Liste des villes</h1>
    <button type="button" class="call-form btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Nouveau
    </button>
    <div class="success-message">
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ 'tab.header.name'|trans }}</th>
                <th>{{ 'tab.header.action'|trans }}</th>
            </tr>
        </thead>
        <tbody class="tbody-ville">
        {% for ville in villes %}
            <tr>
                <td>{{ ville.nom }}</td>
                <td><button class="call-form" data-id="{{ ville.id }}" data-toggle="modal" data-target="#myModal">Modifier</button><button class="remove-town" data-id="{{ ville.id }}">Supprimer</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="error-message">
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="save-new submit-form btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
<script>
    let locale = "{{ app.request.locale }}";
    let $currentTown;
    let $currentLine;
    function buildTr(ville) {
        return  "<tr>"+
                    "<td>"+ville.nom+"</td>"+
                    "<td>"+
                        "<button class='call-form' data-id="+ville.id+" data-toggle='modal' data-target='#myModal'>Modifier</button>"+
                        "<button class='remove-town' data-id="+ville.id+">Supprimer</button>"+
                    "</td>"+
                "</tr>" ;
    }

    $('body').on('click', '.save-new', function(e) {
        console.log('new');
        $.ajax({
            url: Routing.generate('remi_ville_add', { id: null, '_locale': locale }),
            type: 'POST',
            dataType: "json",
            data: $('form').serialize(),
            success: function (result) {
                $(".tbody-ville").append(buildTr(result));
                $('#myModal').modal('hide');
                $(".success-message").html("{{ 'notice.town.add'|trans }}");
            },
            error: function (result) {
                $('.error-message').html(result.responseJSON);
            }
        });
    });

    $('body').on('click', '.call-form', function(event) {
        $currentTown = $(event.target).data('id');
        console.log($currentTown);
        $currentLine = $(event.target).parent().parent();
        if ($currentTown) {
            $('.submit-form').addClass('save-update');
            $('.submit-form').removeClass('save-new');
        } else {
            $('.submit-form').addClass('save-new');
            $('.submit-form').removeClass('save-update');
        }

        $('.modal-title').html('Ajouter une ville');
        $.ajax({
            url: Routing.generate('remi_ville_form', { id: $currentTown, '_locale': locale }),
            type: 'GET',
            success: function (result) {
                $(".modal-body").html(result);
            }
        });
    });

    $('body').on('click', '.save-update', function(e) {
        $.ajax({
            url: Routing.generate('remi_ville_update', { id: $currentTown, '_locale': locale }),
            type: 'POST',
            dataType: "json",
            data: $('form').serialize(),
            success: function (result) {
                $currentLine.replaceWith(buildTr(result));
                $('#myModal').modal('hide');
                $(".success-message").html("{{ 'notice.town.update'|trans }}");
            }
        });
    });

    $('body').on('click', '.remove-town', function(event) {
        let id = event.target.dataset.id;
        $.ajax({
            url: Routing.generate('remi_ville_delete', { id: id, '_locale': locale }),
            type: 'DELETE',
            success: function (result) {
                $(".modal-body").html(result);
                let tr = $(event.target).parent().parent().remove();
                $(".success-message").html("{{ 'notice.town.delete'|trans }}");
            }
        });
    });
</script>
{% endblock %}
